<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Minify Javascript Online / Online JavaScript Packer</title>

    <meta name="keywords" content="javascript compressor, compress javascript, minify javascript, minify js online, online javascript packer, js packer tool, online jsmin, uglify js">
    <meta name="description" content="Free online instant javascript compression tool. Copy and paste your code in or upload multiple files to combine them together.">
    <meta name="viewport" content="width=device-width; initial-scale=1" />

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css' />
    <link type="text/css" href="/stylesheets/styles.css" rel="stylesheet" />
</head>

<body>
  <div id="pageWrapper">
    <header>
      <h1><a href="/">Online Javascript Compression Tool</a></h1>
    </header>

    <div id="content"><%- content %></div>

    <div id="ad_side">
      <!-- JSCompress.com - Side 160x600 -->
      <div id="bsap_1304143" class="bsarocks bsap_28c05c8923a305f9880df4be2546b9aa"></div>
    </div>

    <footer>
      <article class="box small">
        <p>Service developed and provided by <a href="http://vancelucas.com">Vance Lucas</a> (<a href="http://twitter.com/vlucas">@vlucas</a>)</p>
        <p>Powered by <a href="http://nodejs.org">Node.js</a> and <a href="https://github.com/mishoo/UglifyJS">UglifyJS</a>. Source code on <a href="https://github.com/vlucas/jscompress.com">GitHub</a>.</p>
      </article>
    </footer>

    <script src="/js/bundle.js"></script>

    <!-- BuySellAds Ad Code -->
    <script type="text/javascript">
    (function(){
      var bsa = document.createElement('script');
         bsa.type = 'text/javascript';
         bsa.async = true;
         bsa.src = '//s3.buysellads.com/ac/bsa.js';
      (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
    })();
    </script>

    <!-- GA Tracker -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-359731-6', 'auto');
      ga('send', 'pageview');
    </script>
 </div>
</body>
</html>
