<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Minify Javascript Online / Online JavaScript Packer</title>

    <meta name="keywords" content="javascript compressor, compress javascript, minify javascript, minify js online, online javascript packer, js packer tool, online jsmin, uglify js">
    <meta name="description" content="Free online instant javascript compression tool. Copy and paste your code in or upload multiple files to combine them together.">
    <meta name="viewport" content="width=device-width; initial-scale=1" />
 
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css' />
    <link type="text/css" href="/stylesheets/styles.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
  <div id="pageWrapper">
    <header>
      <h1><a href="/">Online Javascript compressor</a></h1>
    </header>

    <div id="content">
     <%- body %>
    </div>

    <div id="ad_side"> 
      <script type="text/javascript"><!--
        google_ad_client = "pub-3241315962888840";
        /* JSCompress.com - Side 160x600 */
        google_ad_slot = "7552546142";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
      </script> 
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> 
      </script> 
    </div>
 
    <footer>
      <p style="float: right; margin:12px; padding:0;">
        <a href="http://brightb.it" title="Built by Brightbit"><img src="/images/brightbit-hexlogo-64x64.png" /></a>
      </p>
      <article class="box small">
        <p>Copyright &copy; 2011 Brightbit</p>
        <p>Service developed and provided by <a href="http://brightb.it">Brightbit</a> - Powered by <a href="http://nodejs.org">Node.js</a></p>
      </article>
    </footer>
    
    <!-- GA Tracker -->
    
 </div>
</body>
</html>