<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/png" href="/images/jscompress-logo-square.png">
    <title>JSCompress: Minify Javascript Online / Online JavaScript Compression</title>

    <meta name="keywords" content="javascript compressor, compress javascript, minify javascript, minify js online, online javascript packer, js packer tool, online jsmin, uglify js">
    <meta name="description" content="Free online instant JavaScript compression tool. Copy and paste your code in or upload multiple files to combine them together.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link type="text/css" href="/stylesheets/pure-min.css" rel="stylesheet" />
    <link type="text/css" href="/stylesheets/styles.css" rel="stylesheet" />
</head>

<body>
  <div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link" title="JSCompress: Online JavaScript Compression Tool">
      <img src="/images/jscompress-logo-square.png" alt="JSCompress" height="75" />
    </a>
    <ul class="pure-menu-list float-right">
      <li class="pure-menu-item"><a href="http://devdata.io" class="pure-menu-link">DevData.io</a></li>
      <li class="pure-menu-item"><a href="http://merrylist.com" class="pure-menu-link">Christmas Wishlists</a></li>
      <li class="pure-menu-item"><a href="https://buysellads.com/buy/detail/266757" class="pure-menu-link">Advertise on This Site</a></li>
    </ul>
  </div>
  <div id="pageWrapper">

    <div id="ad_side">
      <!-- JSCompress.com - Side 160x600 -->
      <div id="bsap_1304143" class="bsarocks bsap_28c05c8923a305f9880df4be2546b9aa"></div>
    </div>

    <div id="content"><%- content %></div>

    <div class="box">
      <header>
        <h2>What Is This?</h2>
      </header>
      <section>
        <p>JSCompress.com is an online JavaScript compressor that allows you to
        compress and minify your JavaScript files. Compressed JavaScript files
        are ideal for production environments since they typically
        <strong>reduce the size of the file by 30-80%</strong>. Most of the
        filesize reduction is achieved by removing comments and extra
        whitespace characters that are not needed by web browsers or
        visitors.</p>
      </section>
    </div>

    <div class="box">
      <header>
        <h2>Why Would I Want To Compress JavaScript?</h2>
      </header>
      <section>
        <p>There are a number of reasons why compressing your JavaScript files is a good idea:</p>
        <ul>
          <li>Quicker download times for your users.</li>
          <li>Reduced bandwidth consumption of your website.</li>
          <li>Reduced number of HTTP requests on your server when combining
          many JavaScript files into one compressed file, thus reducing the
          server load and allowing more visitors to access your website.</li>
          <li>Comments and whitespace are not needed for JavaScript execution;
          Removing them will reduce file size and speed up script execution
          times.</li>
        </ul>
      </section>
    </div>

    <div class="box">
      <header>
        <h2>What JavaScript Compression Method is Used?</h2>
      </header>
      <section>
        <p>JSCompress.com uses <a
        href="https://github.com/mishoo/UglifyJS2">UglifyJS2</a> for all
        JavaScript minification and compression.</p>
      </section>
    </div>

    <div class="box">
      <section>
        <p>Service developed and provided by <a href="http://vancelucas.com">Vance Lucas</a> (<a href="https://twitter.com/vlucas">@vlucas</a>)</p>
        <p>Powered by <a href="https://nodejs.org">Node.js</a> and <a href="https://github.com/mishoo/UglifyJS2">UglifyJS 2</a>. Source code on <a href="https://github.com/vlucas/jscompress.com">GitHub</a>.</p>
      </section>
    </div>

    <script src="/js/bundle.js"></script>

    <!-- BuySellAds Ad Code -->
    <script type="text/javascript">
    (function(){
      var bsa = document.createElement('script');
         bsa.type = 'text/javascript';
         bsa.async = true;
         bsa.src = '//s3.buysellads.com/ac/bsa.js';
      (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
    })();
    </script>

    <!-- GA Tracker -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-359731-6', 'auto');
      ga('send', 'pageview');
    </script>
 </div>
</body>
</html>
