/*  Less Framework 3
    by Joni Korpi
    http://lessframework.com    */


/*  Resets
    ------  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/*  Typography presets
    ------------------  */

.gigantic {
    font-size: 110px;
    line-height: 120px;
    letter-spacing: -2px;
}

.huge, h1 {
    font-size: 68px;
    line-height: 72px;
    letter-spacing: -1px;
}

.large, h2 {
    font-size: 42px;
    line-height: 48px;
}

.big, h3 {
    font-size: 26px;
    line-height: 36px;
}

.normal, body {
    font: 16px/24px Helvetica, Arial, sans-serif;
}

.small {
    font-size: 13px;
    line-height: 18px;
} 


body {
    background: rgb(232,232,232);
    padding: 84px 60px 0;
    padding-top: 10px;
    -webkit-tap-highlight-color: rgb(255,255,0);
}

::selection         {background: rgb(255,255,0);}
::-moz-selection    {background: rgb(255,255,0);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}





/**
 * ==============================================================
 * Page styles
 */

#pageWrapper {
    
}

article.box,
section.box,
div.box {
    margin-bottom: 24px;
    padding: 24px;
    
    background: #FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
} 


h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Georgia, serif;
    -moz-text-shadow: yellow 0 5px 5px;
    -webkit-text-shadow: #FFF 0 1px;
    text-shadow: rgba(255,255,255,1) 1px 1px 0;
}

h2 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
}

h2:first-child {
    margin-top: 0;
}

section, aside {
    margin-bottom: 24px;
}

section:first-child {
    margin-top: 0;
}

ul {
    list-style-type: square;
    list-style-position: outside;
    margin: 24px 0 0 16px;
}

p {
    margin: 10px 0;
}

p:first-child {
    margin: 0;
}

footer {
    clear: both;
    margin-bottom: 30px;
}

footer p {
    margin: 8px 0 0 0;
}

a {
 color: #448CCB;
}

header h1 {
    font-size: 42px;
    line-height: 48px;
}
header h1 a {
    color: #000;
    text-decoration: none;
}


/**
 * FORM Styles
 * @see http://www.vooshthemes.com/blog/design-tutorial/create-a-clean-and-stylish-css3-contact-form/
 */
label { 
    font-size: 20px;
    color: #555; 
}

input, textarea {
    padding: 8px; 
    margin: 4px 0 20px 0; 
    background: #fff; 
    width: 220px; 
    font-size: 14px; 
    color: #555; 
    border: 1px #ddd solid;
    
    /* -- CSS3 Shadow - create a shadow around each input element -- */ 
    -webkit-box-shadow: 0px 0px 4px #aaa;
    -moz-box-shadow: 0px 0px 4px #aaa; 
    box-shadow: 0px 0px 4px #aaa;
    
    /* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */       
    -webkit-transition: background 0.3s linear;                         
}

textarea {
    width: 97%;
    height: 250px;
}

input:hover, textarea:hover { 
    background: #eee; 
}
    
input.submit,
button.submit {
    color: #eee; 
    text-transform: uppercase; 
    margin-top: 10px;
    padding: 7px 14px;
    background-color: #18a5cc;
    border: none;
    font-size: 16px;
    
    /* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
    -webkit-transition: -webkit-box-shadow 0.3s linear;
    
    /* -- CSS3 - Rounded Corners -- */
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
    border-radius: 4px; 
                    
    /* -- CSS3 Shadow - create a shadow around each input element -- */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18a5cc), to(#0a85a8)); 
    background: -moz-linear-gradient(25% 75% 90deg,#0a85a8, #18a5cc);       
} 

input.submit:hover,
button.submit:hover {       
    -webkit-box-shadow: 0px 0px 20px #555;
    -moz-box-shadow: 0px 0px 20px #aaa; 
    box-shadow: 0px 0px 20px #555;  
    cursor:  pointer;
} 

.clear {
    clear: both;
}

/* error display */
.app_errors {
    padding: 10px 16px;
    border: 1px solid #e2d0d0;
    background: #fcf0f0;
    color: #280b0b;
}
.app_errors ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.app_errors li {
    margin: 5px 0;
    padding: 0;
}


/**
 * tabs
 * @link http://www.sohtanaka.com/web-design/examples/tabs/
 */
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #e0e0e0;
    overflow: hidden;
    position: relative;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}   
html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container {
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left; 
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tab_content {
    padding: 20px;
    font-size: 1.2em;
}

#pageWrapper {
    position: relative;
}
#content {
    margin-left: 170px;
}
#ad_side {
    width: 160px;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 0;
}